[submodule "nvchad/.config/nvchad"]
	path = nvchad/.config/nvchad
	url = github.com:yuriseki/nvchad.git
[submodule "tmux/.config/tmux"]
	path = tmux/.config/tmux
	url = git@github.com:yuriseki/tmux.git
